Estimado(a) ${cliente}:

#if( ${esGrupo} )
Ópticas Lux se complace en informarle​ que sus trabajos están listos para ser recogidos en su Sucursal ${sucursal.nombre}.​
#elseif( !${esGrupo} )
Ópticas Lux se complace en informarle​ que su orden de trabajo ${rx} está lista para ser recogida en su Sucursal ${sucursal.nombre}.​
#end

#if( !${esGrupo} and ${poliza} ) ## cuando ${poliza} es distinto de null es TRUE
Recuerde que puede asegurar su anteojo contra daño y/o pérdida por la cantidad de: ${poliza}.

#end
Esperamos con gusto su visita.

Atentament​e
Opticas Lux

${sucursal.nombre}
${sucursal.direccion}
${sucursal.colonia}
${sucursal.cp}
${sucursal.telefonos}

www.lux.mx​
Atención a Clientes.
01 800 9000 LUX
01 800 9000 589
clientecon​fianza@lux​.mx