#parse("constantes-impresora.vm")
#macro(TITULO_GARANTIA)#NEGRITA()#DOBLE_ALTURA()#DOBLE_ANCHURA()#FUENTE_B()#DO()#end
#define($COLUMNAS)${GS}P${writer.write(32)}${writer.write(32)}#end
#define($COLUMNA_1)${ESC}${writer.write(36)}${writer.write(0)}${writer.write(0)}#end
#define($COLUMNA_2)${ESC}${writer.write(36)}${writer.write(25)}${writer.write(0)}#end
#define($COLUMNA_3)${ESC}${writer.write(36)}${writer.write(59)}${writer.write(0)}#end
#define($COLUMNA_4)${ESC}${writer.write(36)}${writer.write(74)}${writer.write(0)}#end
${COLUMNAS}
#NEGRITA()#DOBLE_ALTURA()#DOBLE_ANCHURA()#FUENTE_A()#DO()${garantia.tipoGarantia.trim()} G${garantia.id}
#RESET_TEXTO()#DO()#ALINEAR_CENTRO()#SEPARACION()${LF}
#TITULO_GARANTIA()ORDEN DE EVALUACION PARA
GARANTIA
#RESET_TEXTO()#DO()#SEPARACION()${LF}
#RESET_TEXTO()#ALINEAR_IZQUIERDA()#FUENTE_B()#DO()
#NEGRITA()#DO()FOLIO DE LA ORDEN: #SIN_NEGRITA()#DO()${garantia.id} #ALINEAR_DERECHA()${COLUMNA_4}${fechaHoy}
#NEGRITA()#DO()SUCURSAL: #SIN_NEGRITA()#DO()${sucursal.nombre.trim()} [${sucursal.idSucursal}]
#NEGRITA()#DO()TELEFONO: #SIN_NEGRITA()#DO()${sucursal.telefonos.trim()}

#NEGRITA()#DO()FACTURA ORIGINAL: #SIN_NEGRITA()#DO()${garantia.factura.trim()}
#NEGRITA()#DO()FECHA ORIGINAL: #SIN_NEGRITA()#DO()${garantia.fechaFacturaFormateada()}

#NEGRITA()#DO()CLIENTE: #SIN_NEGRITA()#DO()${garantia.cliente.trim()}
#NEGRITA()#DO()DOMICILIO: #SIN_NEGRITA()#DO()${cliente.direccionCli.trim()}
#NEGRITA()#DO()COLONIA: #SIN_NEGRITA()#DO()${cliente.coloniaCli.trim()}
#NEGRITA()#DO()C.P.: #SIN_NEGRITA()#DO()${cliente.codigo.trim()}
#NEGRITA()#DO()TELEFONO: #SIN_NEGRITA()#DO()Casa: ${cliente.telCasaCli.trim()} Trabajo: ${cliente.telTrabCli.trim()} ext. ${cliente.extTrabCli.trim()} Adicional: ${cliente.telAdiCli.trim()} ext. ${cliente.extAdiCli.trim()}

#NEGRITA()#DO()PRODUCTO: #SIN_NEGRITA()#DO()${garantia.armazon.trim()}
#NEGRITA()#DO()COLOR: #SIN_NEGRITA()#DO()${garantia.color.trim()}

#NEGRITA()#DO()DEJO: #SIN_NEGRITA()#DO()${garantia.dejo.trim()}

#NEGRITA()#DO()DEFECTO: #SIN_NEGRITA()#DO()${garantia.razon.trim()}
#SEPARACION_INTERNA()${LF}
#NEGRITA()#DO()CONDICIONES GENERALES:
#SIN_NEGRITA()#DO()${garantia.condicion.trim()}
${LF}${LF}
#ALINEAR_CENTRO()#SIN_NEGRITA()#DO()#LINEA_FIRMA()

${trabajo.cliente.trim()}
#SEPARACION_INTERNA()${LF}
#ALINEAR_IZQUIERDA()#DO()Acepto la descripcion de las condiciones en las que     presento mi producto para su evaluacion.

Acepto que el producto que presento sea sometido a las  pruebas y examenes que demuestren que presenta defectos o vicios atribuibles al diseno, los materiales o        procesos de fabricacion.
${LF}${LF}
#ALINEAR_CENTRO()#SIN_NEGRITA()#DO()#LINEA_FIRMA()

${trabajo.cliente.trim()}

#ALINEAR_IZQUIERDA()#NEGRITA()#DO()FECHA ENTREGA: #SIN_NEGRITA()#DO()${garantia.fechaPromesaFormateada()}
#NEGRITA()#DO()LE ATENDIO CON GUSTO: #SIN_NEGRITA()#DO()${empleado.nombreEmpleado.trim()} ${empleado.apPatEmpleado.trim()} ${empleado.apMatEmpleado.trim()}
#if( ${trabajo.tipoVenta} == "EMP" || ${trabajo.tipoVenta} == "EMA" )
${LF}#ALINEAR_CENTRO()#DOBLE_ALTURA()#DOBLE_ANCHURA()#FUENTE_A()#DO()VENTA DE EMPLEADO
#end
${LF}${LF}
#RESET_TEXTO()#ALINEAR_CENTRO()#SIN_NEGRITA()#DO()#LINEA_FIRMA()

Vo. Bo. GERENTE

#SEPARACION_INTERNA()${LF}
#NEGRITA()#ALINEAR_CENTRO()
TELEFONO ATENCION A CLIENTES
01 800 9000 LUX
01 800 9000 589
#FUENTE_B()#SIN_NEGRITA()#DO()#SEPARACION_INTERNA()
${LF}${LF}${LF}${LF}
#CORTE()
