#parse("constantes-impresora.vm")
#macro(TITULO_SUCURSAL_DEVOLUCION_SP)#NEGRITA()#DOBLE_ALTURA()#DOBLE_ANCHURA()#FUENTE_B()#DO()#end
#define($COLUMNAS)${GS}P${writer.write(32)}${writer.write(32)}#end
#define($COLUMNA_1)${ESC}${writer.write(36)}${writer.write(8)}${writer.write(0)}#end
#define($COLUMNA_2)${ESC}${writer.write(36)}${writer.write(20)}${writer.write(0)}#end
#define($COLUMNA_3)${ESC}${writer.write(36)}${writer.write(45)}${writer.write(0)}#end
#define($COLUMNA_4)${ESC}${writer.write(36)}${writer.write(65)}${writer.write(0)}#end
${COLUMNAS}#ALINEAR_CENTRO()#SEPARACION()${LF}
#TITULO_SUCURSAL_DEVOLUCION_SP()SOLICITUD
ENVIO DE ARMAZON SP
#RESET_TEXTO()#DO()#SEPARACION()${LF}
#FUENTE_B()#DO()#ALINEAR_IZQUIERDA()
${COLUMNA_1}Se solicita de la manera mas atenta que realice el envio del armazon que se indica  porque  fue vendido en otra sucursal y ya fue descontado de sus existencias con el numero de documento: ${documento}${LF}
#FUENTE_A()#DO()
#NEGRITA()#DO()${COLUMNA_3}Fecha: #SIN_NEGRITA()#DO()${COLUMNA_4}${fecha}
#NEGRITA()#DO()${COLUMNA_3}Factura: #SIN_NEGRITA()#DO()${COLUMNA_4}${factura}${LF}
#ALINEAR_CENTRO()#NEGRITA()#DO()Armazon: #SIN_NEGRITA()#DO()${armazon}    #NEGRITA()#DO()Color: #SIN_NEGRITA()#DO()${color}${LF}
#NEGRITA()#DO()No. de Apartado: #SIN_NEGRITA()#DO()${apartado}
#NEGRITA()#DO()Documento: #SIN_NEGRITA()#DO()${documento}${LF}
#ALINEAR_DERECHA()#FUENTE_B()#SIN_NEGRITA()#DO()TICKET SUCURSAL
#RESET_TEXTO()#DO()#SEPARACION()
${LF}${LF}${LF}${LF}${LF}${LF}
#CORTE()