#parse("constantes-impresora.vm")
#macro(TITULO_SOBRE_DEVOLUCION_SP)#DOBLE_ALTURA()#DOBLE_ANCHURA()#FUENTE_A()#DO()#end
#define($COLUMNAS)${GS}P${writer.write(32)}${writer.write(32)}#end
#define($COLUMNA_1)${ESC}${writer.write(36)}${writer.write(0)}${writer.write(0)}#end
#define($COLUMNA_2)${ESC}${writer.write(36)}${writer.write(20)}${writer.write(0)}#end
#define($COLUMNA_3)${ESC}${writer.write(36)}${writer.write(35)}${writer.write(0)}#end
#define($COLUMNA_4)${ESC}${writer.write(36)}${writer.write(55)}${writer.write(0)}#end
${COLUMNAS}#ALINEAR_CENTRO()#SEPARACION()${LF}
#TITULO_SOBRE_DEVOLUCION_SP()DEVOLUCION
ARMAZON SURTE PINO
#RESET_TEXTO()#DO()#SEPARACION()${LF}
#FUENTE_A()#DO()#ALINEAR_IZQUIERDA()
#NEGRITA()#DO()${COLUMNA_3}Fecha: #SIN_NEGRITA()#DO()${COLUMNA_4}${fecha}
#NEGRITA()#DO()${COLUMNA_3}Factura: #SIN_NEGRITA()#DO()${COLUMNA_4}${factura}${LF}
#NEGRITA()#DO()Solicita: #SIN_NEGRITA()#DO()${sucursalSolicita} [${idSucursalSolicita}]
#NEGRITA()#DO()Devuelve: #SIN_NEGRITA()#DO()${sucursalDevuelve} [${idSucursalDevuelve}]${LF}
#ALINEAR_CENTRO()#NEGRITA()#DO()Armazon: #SIN_NEGRITA()#DO()${armazon}    #NEGRITA()#DO()Color: #SIN_NEGRITA()#DO()${color}
#NEGRITA()#DO()Documento: #SIN_NEGRITA()#DO()${documento}${LF}
#if( ${conReceta} )
#ALINEAR_CENTRO()#DOBLE_ALTURA()#DOBLE_ANCHURA()#FUENTE_A()#DO()CON RECETA#RESET_TEXTO()#DO()${LF}
#end
#CODIGO_BARRAS( ${factura} 3 1 )
#ALINEAR_DERECHA()#FUENTE_B()#SIN_NEGRITA()#DO()TICKET SOBRE
#RESET_TEXTO()#DO()#SEPARACION()
${LF}${LF}${LF}${LF}${LF}${LF}
#CORTE()